<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>404 Grumpy</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS template -->
    <link href="../static/styles/custom.css" rel="stylesheet">

  </head>

  <body>

    <div class="row">
    	 <div class="col-7">
 	<img style="position:fixed; bottom:10%; height:60%" src="static/images/grumpy.jpg">
	</div>
   	 <div class="col-5">
	 <h1>404</h1>
	 <p>Ups! Esta página no existe!</p>
	<a class="btn btn-lg btn-success" href="/home" role="button">Sácame de aquí!</a>
	 </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
